[submodule "libvarnam/libvarnam"]
	path = libvarnam/libvarnam
	url = https://github.com/subins2000/libvarnam
[submodule "varnam-editor"]
	path = varnam-editor
	url = https://github.com/thetronjohnson/varnam-editor.git
